// See? Bootstrap is here if you want it
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// See? SCSS is here if you want it
.example-header {
  text-align: center;
  .example-header-title {
    display: block;
    font-weight: bold;
    font-size: 25px;
  }
  .example-header-logo {
    height: 50px;
  }
}

body{
  background-color: #EB5255;
}

#ZipSearch{
  width: 40%;
  min-width: 15em;
  max-width: 25em;
  font-size: 1.5em;
  margin: 15% auto;

  h1{
    text-align: center;
    font-weight: bold;

    font-size: 2.5em;
  }

  #ZipInput{
    width: 80%;
    max-width: 20em;

    margin: 10px 10% 0 10%;
  }
}

